<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>idfa=00000000-0000-0000-0000-000000000000</string>
	<string>idfv=C5580C8D-D271-4D57-B24C-5A652A3B1D45</string>
</array>
</plist>
